<!-- Gene Form Modal -->
{% extends 'base.html' %}
<div class="modal fade" role="dialog" tabindex="-1" id="user-form-modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Gene</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="py-1">
            <form class="form" novalidate="">
              <div class="row">
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Gene Symbol</label>
                        <input class="form-control" type="text" name="Symbol" placeholder="Symbol">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>Chromosome</label>
                        <input class="form-control" type="text" name="Chromosome" placeholder="Chr">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="form-group">
                        <label>Start</label>
                        <input class="form-control" type="text" placeholder="Starting position">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label>End</label>
                        <input class="form-control" type="text" placeholder="Ending position">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col mb-3">
                      <div class="form-group">
                        <label>Diseases</label>
                        <textarea class="form-control" placeholder="Related diseases"></textarea>
                      </div>
                      <div class="form-group">
                        <label>Variants</label>
                        <textarea class="form-control" placeholder="Related SNPs"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col d-flex justify-content-end">
                  <button class="btn btn-primary" type="submit">Save Changes</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>