<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
	Hi {{ user.username }}!
	<p><button class="btn btn-primary" href="{% url 'logout' %}">Log Out</button></p>
</div>

<div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<div class="row flex-lg-nowrap">
		<div class="align-middle" style="width: 200px;">
			<span class="border border-light">
				<p>Genes list</p>
				<a class="btn btn-primary" href="{% url 'genes' %}">Genes</a>
				<p>Diseases list</p>
				<a class="btn btn-primary" href="{% url 'diseases' %}">Diseases</a>
				<p>Variants list</p>
				<a class="btn btn-primary" href="{% url 'variants' %}">Variants</a>
			</span>
		</div>
	</div>
</div>

{% else %}
<div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
	<div class="row flex-lg-nowrap">
		<div class="align-middle" style="width: 200px;">
			<span class="border border-light">
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">Log In</a>
			</span>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}